html {
    
    font-family: "text2.ttf";
   background-color: black;

}

small {
    text-align: center;
}

form {
    padding-left: 35px;
   
}

@font-face {
    font-family: 'AnglicanText';
    src: url(font/text2.ttf);
    font-style: normal;
}

h1 {
   
    padding-bottom: 0%;
    font-weight: bold;
	font-size: 69px;
    margin-bottom: 15px;
    color:white;
    font-size: 25px;
    padding-left: 50px;

}

label {
    font-family: "text2.ttf";
    color:white;
}
#buttons-view {
    margin-bottom: 0%;
    
}


body {
    background-image: url("../images/pic5.jpeg");
      /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body, html {
    height: 100%;
    margin: 0;
  }




small {
	font-weight: normal;
    font-size: 40px;
    text-align: left;
    padding-left:400px;
}

.wrapper {
    margin: 60px 0 60px 60px;
   
}

.peoples {
    font-size: 70px;
    font-weight: bold;
    background:orange;
    color:black;
	border: none;
	padding: 10px 15px;
	margin: 6px;
    border-radius: 10px;
    padding-left:100px;
    
}

.peoples:hover, .peoples:active {
	background: red;
	color: #fff;
}

#add-people {
	font-size: 14px;
	color:black;
	background: palevioletred;
	border: none;
	padding: 10px 15px;
	margin: 6px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: "text2.ttf";
}

#add-people:hover, #add-people:active {
	background: red;
}

.peoples {
	padding: 10px 15px;
	font-size: 14px;
	border: none;
	border-radius: 10px;
}

#button-view {
	margin-right: 20px;
    margin-bottom: 15px;
    font-family: "text2.ttf";
}

.results-container {
	display: flex;
	flex-wrap: wrap;
    margin-bottom: 30px;
   
}

.result-container {
    margin: 30px 30px 0 0;
  
}

.result {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    border-radius: 10px;
   
}

.result:hover {
	-webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:    10px 10px 0px 0px rgba(0, 0, 0, 0.4);
	box-shadow:         10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}

p {
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
    margin: 0 0 6px 4px;
    font-family: "text2.ttf";
}

#inputstyle {
    font-size: 30px;
    color: palevioletred;
    font-weight: bold;
    font-family: "text2.ttf";
}
#people-input {
    font-size: 25px;
}

